<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kích hoạt tài khoản</title>
</head>

<body style="
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
">
    <div class="container" style="
        background-color: #ffffff;
        padding: 20px;
    ">
        <div class="content" style="padding: 20px;">
            <div class="content-first" style="margin-bottom: 20px; font-size: 16px;"><strong>Kính gửi: anh/chị {{name}}</strong></div>
            <p style="margin: 0 0 20px; font-size: 16px;">Bạn đã được mời sử dụng <strong>hệ thống chỉ đạo điều hành.</strong></p>
            <p style="margin: 0 0 20px; font-size: 16px;">Tài khoản đăng nhập <a href="https://mail.google.com/mail/u/0/#search/{{gmailName}}">{{gmail}}</a></p>
            <div class="btn-active" style="text-align: center;">
                <a href="{{activeLink}}" class="button" style="
                    display: inline-block;
                    padding: 10px 20px;
                    font-size: 16px;
                    color: #ffffff;
                    background-color: #2a5298;
                    text-decoration: none;
                    border-radius: 5px;
                    margin: 0 auto;
                    margin-bottom: 10px;
                ">
                    Kích hoạt ngay
                </a>
            </div>
            <p style="margin: 0; font-size: 16px;"><strong>Lưu ý:</strong> Vui lòng không chia sẻ đường link kích hoạt tài khoản này cho bất kỳ ai để bảo
                mật thông tin cá
                nhân của bạn.</p>
        </div>
        <div class="footer" style="padding: 0 20px;">
            <p style="margin: 0; margin-bottom: 5px; padding: 0; font-size: 14px;">Trân trọng,</p>
            <p style="margin: 0; padding: 0; font-size: 14px;"><strong>UBND huyện Châu Thành</strong></p>
            <p style="color: #777777; font-size: 14px;"><em>Lưu ý: Đây là email được gửi tự động từ hệ thống. Vui lòng không trả lời email này.</em></p>
        </div>
    </div>
</body>

</html>