<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông báo giao công việc</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">
        <div class="header">
            <h2 style="text-align: center; margin-bottom: 20px;">{{title}}</h2>
        </div>
        <p>Xin chào,</p>
        <p>Chúng tôi xin lỗi, nhưng chúng tôi không thể tiến hành thẩm định công việc "<strong>{{nameTask}}</strong>" mà bạn gửi đến cho chúng tôi. Lý do cho sự từ chối này được nêu rõ dưới đây:</p>
        <br>
        <p>{{comment}}</p>
        <br>
        <p>Trân trọng</p>
    </div>
</body>
</html>