<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông báo giao công việc</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">
        <div class="header">
            <h2 style="text-align: center; margin-bottom: 20px;">{{title}}</h2>
        </div>
        <p>Xin chào,</p>
        <p>Chúng tôi xin thông báo rằng một công việc mới đã được tạo trên hệ thống của chúng tôi. Chi tiết về công việc như sau:</p>
        <ul>
            <li><strong>Tên công việc:</strong> {{TaskName}}</li>
            <li><strong>Mô tả công việc:</strong> {{Description}}</li>
            <li><strong>Ngày bắt đầu:</strong> {{DateStart}}</li>
            <li><strong>Hạn chót:</strong> {{Deadline}}</li>
        </ul>
        <p>Vui lòng kiểm tra và gán công việc này cho nhân viên phù hợp. Hãy đảm bảo rằng công việc được thực hiện đúng thời hạn và chất lượng.</p>
        <br>
        <p>Trân trọng</p>
    </div>
</body>
</html>