<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">
        <div class="header">
            <h2 style="text-align: center; margin-bottom: 20px;">{{title}}</h2>
        </div>
        <p>Xin chào,</p>
        <p>Công việc "<strong>{{nameTask}}</strong>" đã được duyệt, dưới đây là nhận xét về công việc:</p>
        <br>
        <p>{{comment}}</p>
        <br>
        <p>Trân trọng</p>
    </div>
</body>
</html>