<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../../../Public/Image/icon.png" />
    <title>Hệ thống chỉ đạo điều hành</title>
    <link rel="stylesheet" href="../../public/css/material_blue.css">
    <link rel="stylesheet" href="../../bootstrap/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../bootstrap/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/Styles.css">
</head>

<body>
    <div class="app login-bg d-flex align-items-center">
        <form class="form-login mx-auto bg-white rounded-3">
            <div class="mb-4 d-flex justify-content-center">
                <img class="header__navbar-img" src="../../public/Image/Logo.png" alt="" width="56px" height="56px">
                <div class="header__navbar-name mx-2 text-black d-flex flex-column justify-content-center">
                    <h6 class="fw-bold p-0 m-0">UBND HUYỆN CHÂU THÀNH</h6>
                    <h6 class="fw-normal p-0 m-0">Hệ thống chỉ đạo điều hành</h6>
                </div>
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tên đăng nhập hoặc gmail">
            </div>
            <div class="mb-4">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu">
            </div>
            <button type="submit" class="btn btn-primary btn-login">ĐĂNG NHẬP</button>
        </form>
    </div>

    <!-- ============================================= script ============================================= -->
    <script src="../../public/js/flatpickr.js"></script>
    <script src="../../public/js/jquery-3.7.1.min.js"></script>
    <script src="../../public/js/chart-4.4.1.min.js"></script>
    <script src="../../bootstrap/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../public/js/script.js"></script>
</body>

</html>