:root {
    --primary-color: #2a5298;
    --primary-gradient-color: linear-gradient(to left, #1e3c72, #2a5298);
    --sidebar-width: 280px;
    --top-navbar-height: 56px;
    --width-container: 1200px;
}

/* .app__header {
    background-image: url('../Image/header-img.jpg');
    background-position: center;
    background-size: 120vw;
    background-repeat: no-repeat;
} */

/*============================================= login =============================================*/

.login-bg {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right, rgba(30, 59, 114, 0.9), rgba(30, 59, 114, 0.9)),
        url('../Image/header-img.jpg');
    background-position-y: top;
    background-size: 120vw;
    background-repeat: no-repeat;
}

.form-login {
    width: 396px;
    padding: 52px 42px 81px;
    font-size: 14px;
}

.btn-submit {
    background-color: var(--primary-color);
    border: 1 solid var(--primary-color);
}

.form-login a {
    color: var(--primary-color);
}

.btn-eye {
    border-color: #DEE2E6;
    outline: none;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #DEE2E6 !important;
}

#welcomeToast {
    background-color: var(--primary-color);
}

.modal-loading {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.modal-loading__content {
    min-height: 100%;
}

.modal-loading__content>span {
    color: #99A1B7;
    user-select: none;
}

/*============================================= Navbar =============================================*/
.navbar {
    background:
        linear-gradient(rgba(30, 59, 114, 0.9), rgba(30, 59, 114, 0.9)),
        url('../Image/header-img.jpg');
    background-position: center;
    background-size: auto, 120vw;
    background-repeat: no-repeat;
}

.navbar-name h6:first-child {
    font-size: 16px;
}

.navbar-name h6:last-child {
    font-size: 14px;
}

.nav-item>a:not(a[aria-current]),
.nav-item a[data-bs-toggle="dropdown"],
.btn-offcanvas {
    width: 36px !important;
    height: 36px !important;
}

.nav-item a[data-bs-toggle="dropdown"]::after {
    display: none;
}

.nav-item>a:hover,
.nav-item a[data-bs-toggle="dropdown"]:hover,
.btn-offcanvas:hover,
.btn-sidebar:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.nav-item>a:active,
.nav-item a[data-bs-toggle="dropdown"]:active,
.btn-offcanvas:active,
.btn-sidebar:active {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.nav-item>a[aria-current="page"].active {
    color: var(--primary-color) !important;
}

img {
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

#dropdown-apps-list {
    width: 181px !important;
}

#dropdown-apps-list a:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

#dropdown-apps-list a:active {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

#dropdown-apps-list.show {
    display: flex !important;
    flex-wrap: wrap;
}

#dropdown-notify>a>.badge {
    top: 25%;
    left: 36px;
    font-size: 10px;
}

#dropdown-notify-list a:hover {
    background-color: transparent !important;
}

#dropdown-notify-list li:hover {
    background-color: #f8f9fa !important;
}

#dropdown-notify-list li:active {
    color: black;
    background-color: rgba(0, 0, 0, 0.1) !important;
}

#dropdown-notify-list .dropdown-item.watched,
#dropdown-notify-list .dropdown-item.watched .notify-date {
    color: rgba(108, 117, 125, 0.5) !important;
}

#dropdown-notify-list {
    max-height: 347px;
    overflow-y: scroll;
}

#dropdown-notify-list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#dropdown-notify-list::-webkit-scrollbar-track {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    background-color: white;
}

#dropdown-notify-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.notify-content {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notify-date {
    font-size: 12px;
}

.nav-item>#dropdown-notify-box {
    width: 320px;
    left: -192px;
}

.nav-item>#dropdown-apps-list {
    left: -102px;
}

#dropdown-notify-box button[data-bs-toggle="dropdown"]::before {
    display: none;
}

.delete-notify-btn {
    top: 8px;
    right: 8px;
}

/*============================================= Sidebar =============================================*/
.sidebar {
    width: var(--sidebar-width) !important;
    padding-right: 8px !important;
}

.sidebar a {
    padding: 8px 12px;
    text-decoration: none;
    overflow: hidden;
}

.sidebar span {
    overflow: hidden;
}

.sidebar__menu-btn {
    font-size: 28px;
    line-height: 0;
}

.sidebar__content-list {
    overflow-y: scroll;
    flex: 1 1 auto;
}

.sidebar__content-list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.sidebar__content-list::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar__content-list::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

.sidebar__content-list:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

.sidebar__content-item>a:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.sidebar__content-item>a:active {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.sidebar__content-item>a.active {
    background-image: var(--primary-gradient-color);
    color: white !important;
}

.sidebar__content-item>a[data-bs-toggle="collapse"].collapsed>i:last-child {
    position: absolute;
    right: 12px;
    top: 0.5rem;
    transform: rotate(0deg);
}

.sidebar__content-item>a[data-bs-toggle="collapse"]>i:last-child {
    position: absolute;
    right: 12px;
    top: 0.5rem;
    transform: rotate(180deg);
}

.sidebar__dropdown-item>a:not(.active):hover,
.sidebar__footer>button:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.sidebar__dropdown-item>a:not(.active):active,
.sidebar__dropdown-item>a.active,
.sidebar__footer>button:active {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.sidebar__footer>button {
    overflow: hidden;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

/*============================================= Content =============================================*/
.app__container {
    margin-top: var(--top-navbar-height);
}

.filter-list {
    overflow-x: auto;
    flex: 1 1 auto;
}

.filter-list:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

.input-group {
    width: 247px;
}

#barChart {
    height: 380px !important;
}

.btn-filter {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    min-width: 87px;
    height: 37px;
}

#btn-search,
#btn-add-task,
#btn-add-department,
#btn-add-position,
#btn-add-user {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

#Export-report {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    height: 37px;
}

#table-data th,
#table-data td {
    vertical-align: middle;
    user-select: none;
}

.content {
    min-height: calc(100vh - var(--top-navbar-height) - 56px);
}

#date-input:focus {
    border-color: #6C757D !important;
}

#feedback-task-btn {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.AssignedBy-info>span {
    font-size: 14px;
}

.progress-task>.progress {
    height: 12px;
}

.progress-text {
    min-width: 34px;
}

#view-task-modal .modal-dialog {
    min-width: 600px !important;
}

#view-task-modal .modal-content {
    max-height: 90vh;
}

#view-task-modal .modal-body {
    padding-right: 8px;
    overflow-y: scroll;
}

#view-task-modal .modal-body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#view-task-modal .modal-body::-webkit-scrollbar-track {
    background: transparent;
}

#view-task-modal .modal-body::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

#view-task-modal .modal-body:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

#view-task-name {
    overflow: hidden;
    resize: none;
}

.AssignedBy-name>p:first-child {
    font-size: 14px;
}

.AssignedBy-name>p:last-child {
    font-size: 12px;
}

.deadline-input {
    max-width: 60px;
}

#TaskPerformers-dropdown-toggle::after {
    display: none !important;
}

.select-icon {
    width: 36px;
    height: 36px;
    border-style: dashed !important;
}

#performers .select2-container--default .select2-selection--single .select2-selection__arrow,
#reviewer .select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}

.select2-selection[aria-labelledby="select2-TaskPerformers-container"],
.select2-selection[aria-labelledby="select2-TaskReview-container"] {
    border: none;
    min-height: 51px;
    padding: 6px;
    background-color: transparent !important;
}

.select2-selection[aria-labelledby="select2-view-task-priority-container"] {
    border: none;
    background-color: transparent !important;
}

.select2-results__options::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.select2-results__options::-webkit-scrollbar-track {
    background: transparent;
}

.select2-results__options::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#priority-dropdown .select2-container {
    min-width: 87px !important;
}

#performers .select2-container,
#reviewer .select2-container {
    width: 244px !important;
    margin-bottom: .5rem;
}

#select2-TaskPerformers-container,
#select2-TaskReview-container {
    min-height: 51px;
}

#view-task-modal .select2-dropdown {
    border: none !important;
    border-radius: 4px !important;
    box-shadow: 0px 0px 2px 2px rgba(102, 102, 102, 0.1);
}

#toast-notify {
    z-index: 1300;
}

#modal-loading {
    z-index: 1200;
}

.link-file {
    cursor: pointer;
}

#progress-range {
    cursor: pointer;
}

#menu-kebab-task-view>button[data-bs-toggle="dropdown"]::after {
    display: none !important;
}

#menu-kebab-task-view>.dropdown-menu .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.05)
}

.comment-info {
    max-height: 36px;
}

.comment-info-name {
    font-size: 14px;
}

.comment-info-date {
    font-size: 12px;
}

.comment-content {
    text-align: justify;
}

.comment-content>.dropdown>button[data-bs-toggle="dropdown"] {
    right: 16px
}

.comment-content>.dropdown>button[data-bs-toggle="dropdown"]::after {
    display: none !important;
}

#comment-list .dropdown-item:active {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

#feedback-area,
#feedback-area-label::after {
    background-color: transparent;
}

#add-user-dob {
    border: 1px solid #DEE2E6;
}

#add-user-modal .modal-content {
    max-height: 70vh;
}

#add-user-modal .modal-body {
    padding-right: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#add-user-modal .modal-body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#add-user-modal .modal-body::-webkit-scrollbar-track {
    background: transparent;
}

#add-user-modal .modal-body::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

#add-user-modal .modal-body:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

/*============================================= Date style =============================================*/
.flatpickr-months .flatpickr-month {
    background-color: var(--primary-color) !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    background-color: var(--primary-color) !important;
}

.flatpickr-weekdays {
    background-color: var(--primary-color) !important;
}

.flatpickr-weekday {
    background: var(--primary-color) !important;
    color: #ffff !important;
}

.flatpickr-calendar.arrowTop:after {
    border-bottom-color: var(--primary-color) !important;
}

.flatpickr-calendar.arrowBottom:after {
    border-top-color: var(--primary-color) !important
}

.User-gmail {
    font-size: 12px;
}

#avatar-btn {
    width: 28px;
    height: 28px;
    font-size: 12px;
    bottom: 0;
    left: 65%;
}

#avatar-btn i {
    line-height: 28px;
}

.user-information {
    width: 80%;
}

/*============================================= Footer =============================================*/
.app__footer {
    background-color: var(--primary-color);
}

/*============================================= Reponsive =============================================*/
@media (min-width: 992px) {
    .btn-offcanvas {
        display: none !important;
    }

    .sidebar {
        height: calc(100vh - var(--top-navbar-height));
        min-width: var(--sidebar-width) !important;
        transform: translateX(0) !important;
        visibility: visible !important;
        position: -webkit-stick !important;
        position: sticky !important;
        top: var(--top-navbar-height) !important;
        z-index: 1;
    }
}

@media (max-width: 576px) {
    .form-login {
        width: 100%;
    }

    .navbar {
        height: calc(2 * var(--top-navbar-height));
        align-items: start;
    }

    .btn-offcanvas {
        position: absolute;
        bottom: 12px;
    }

    .navbar-right {
        position: absolute;
        right: 12px;
        bottom: 12px;
    }

    .content {
        margin-top: var(--top-navbar-height);
    }

    th {
        display: none;
    }

    td {
        display: block;
        border: none;
    }

    td:last-child {
        border-bottom: solid 1px #DEE2E6;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-weight: bold;
    }

    #table-data td {
        text-align: left !important;
    }

    #table-data td[data-cell="Tiến độ"] {
        display: flex;
        align-items: center;
    }

    #table-data td[data-cell="Họ tên"] {
        display: flex;
        align-items: center;
    }

    .user-info {
        margin-left: 10px;
    }

    .progress-task {
        margin-left: 6px;
        flex: 1;
    }

    #view-task-modal .modal-dialog {
        min-width: 100% !important;
    }

    #view-task-modal .modal-content {
        max-height: 100% !important;
    }

    /* #view-task-modal .modal-header-title {
        display: block !important;
    } */

    #view-task-modal #menu-kebab-task-view,
    #view-task-modal button[aria-label="Close"] {
        margin-top: 5px;
        align-self: self-start;
    }

    #view-task-modal button[aria-label="Close"] {
        margin-top: 0px;
    }

    #view-task-modal .modal-footer {
        flex-direction: column;
    }

    #view-task-modal #range-content {
        width: 100%;
        margin-bottom: .5rem;
    }

    #view-task-modal #progress-range {
        flex: 1;
    }

    #view-task-modal #progress-text {
        min-width: 39px;
    }

    #view-task-modal .footer-action {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    #view-task-modal #save-task-btn,
    #view-task-modal #signature-block-task-btn,
    #view-task-modal #appraisal-task-btn {
        margin-bottom: .5rem;
    }

    #user-avatar {
        display: flex;
        justify-content: center;
    }

    .user-information {
        width: 100%;
    }
}