:root {
    --primary-color: #2a5298;
    --primary-gradient-color: linear-gradient(to left, #1e3c72, #2a5298);
    --sidebar-width: 280px;
    --top-navbar-height: 56px;
    --width-container: 1200px;
}

.app__header {
    background-image: url('../Image/header-img.jpg');
    background-position: center;
    background-size: 120vw;
    background-repeat: no-repeat;
}

.login-bg {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(30, 59, 114, 0.9), rgba(30, 59, 114, 0.9)),
    url('../Image/header-img.jpg');
    background-position: top;
    background-size: 120vw;
    background-repeat: no-repeat;
}

.form-login {
    width: 396px;
    padding: 52px 42px 81px;
    font-size: 14px;
}

.btn-login {
    background-color: var(--primary-color);
    border: 1 solid var(--primary-color);
}

.form-login a {
    color: var(--primary-color);
}

.btn-eye {
    border-color: #DEE2E6;
}
/*============================================= Navbar =============================================*/
.header__navbar {
    background-color: rgba(30, 59, 114, 0.9);
}

.header__navbar-name h6:first-child {
    font-size: 16px;
}

.header__navbar-name h6:last-child {
    font-size: 14px;
}

.header__navbar-item,
.btn-offcanvas {
    width: 36px;
    height: 36px;
}

.header__navbar-item>a:hover,
.btn-offcanvas:hover,
.btn-sidebar:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.header__navbar-item>a:active,
.btn-offcanvas:active,
.btn-sidebar:active {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.list-apps {
    --height: calc(100vh - 56px - 16px);
    width: 252px;
    right: -48px;
    top: calc(var(--top-navbar-height) - 6px);
    font-size: 14px;
    max-height: var(--height);
    overflow-y: auto;
}

.list-apps.hide {
    display: none;
}

.list-apps a:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.list-apps a:active {
    background-color: rgba(0, 0, 0, 0.1) !important;
}
/*============================================= Sidebar =============================================*/
.sidebar {
    width: var(--sidebar-width) !important;
    padding-right: 8px !important;
}

.sidebar a {
    padding: 8px 12px;
    text-decoration: none;
    overflow: hidden;
}

.sidebar span {
    overflow: hidden;
}

.sidebar__menu-btn {
    font-size: 28px;
    line-height: 0;
}

.sidebar__content-list {
    overflow-y: scroll;
    flex: 1 1 auto;
}

.sidebar__content-list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.sidebar__content-list::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar__content-list::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

.sidebar__content-list:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

.sidebar__content-item>a:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.sidebar__content-item>a:active {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.sidebar__content-item>a.active {
    background-image: var(--primary-gradient-color);
    color: white !important;
}

.sidebar__content-item>a[data-bs-toggle="collapse"].collapsed>i:last-child {
    position: absolute;
    right: 12px;
    top: 0.5rem;
    transform: rotate(0deg);
}

.sidebar__content-item>a[data-bs-toggle="collapse"]>i:last-child {
    position: absolute;
    right: 12px;
    top: 0.5rem;
    transform: rotate(180deg);
}

.sidebar__dropdown-item>a:not(.active):hover,
.sidebar__footer>button:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.sidebar__dropdown-item>a:not(.active):active,
.sidebar__dropdown-item>a.active,
.sidebar__footer>button:active {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.sidebar__footer>button {
    overflow: hidden;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

/*============================================= Content =============================================*/
.app__container {
    margin-top: var(--top-navbar-height);
}

.filter-list {
    overflow-x: auto;
    flex: 1 1 auto;
}

.filter-list:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

.input-group {
    width: 247px;
}

#barChart {
    height: 380px !important;
}

.btn-filter {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    min-width: 87px;
    height: 37px;
}

#Export-report {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

#table-report th,
#table-report td {
    vertical-align: middle;
}

/*============================================= Date style =============================================*/
.flatpickr-months .flatpickr-month {
    background-color: var(--primary-color) !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    background-color: var(--primary-color) !important;
}

.flatpickr-weekdays {
    background-color: var(--primary-color) !important;
}

.flatpickr-weekday {
    background: var(--primary-color) !important;
    color: #ffff !important;
}

.flatpickr-calendar.arrowTop:after {
    border-bottom-color: var(--primary-color) !important;
}

.flatpickr-calendar.arrowBottom:after {
    border-top-color: var(--primary-color) !important
}

/*============================================= Footer =============================================*/
.app__footer {
    background-color: var(--primary-color);
}

/*============================================= Reponsive =============================================*/
@media (min-width: 992px) {
    .header__navbar-list-right {
        display: flex !important;
    }

    .btn-offcanvas {
        display: none !important;
    }

    .sidebar {
        height: calc(100vh - var(--top-navbar-height));
        min-width: var(--sidebar-width) !important;
        transform: translateX(0) !important;
        visibility: visible !important;
        position: -webkit-stick !important;
        position: sticky !important;
        top: var(--top-navbar-height) !important;
        z-index: 1;
    }
}

@media (max-width: 576px) {
    .form-login {
        width: 100vw;
        height: calc(100vh - 190px);
        margin: 0;
    }

    .app__header,
    .header__navbar {
        height: calc(2 * var(--top-navbar-height));
    }

    .header__navbar {
        position: relative;
        align-items: start;
    }

    .btn-offcanvas {
        position: absolute;
        bottom: 12px;
    }

    .header__navbar-list-right {
        position: absolute;
        right: 12px;
        bottom: 12px;
    }

    .content {
        margin-top: var(--top-navbar-height);
    }
    
    th {
        display: none;
    }

    td {
        display: block;
        border: none;
    }

    td:last-child {
        border-bottom: solid 1px;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-weight: bold;
    }

    #table-report td {
        text-align: left !important;
    }
}