:root {
    --primary-color: #363795;
}

.header__navbar {
    background-color: var(--primary-color);
}

.header__navbar-logo {
    width: 31px;
}

.header__navbar-btn i {
    rotate: 90;
}

@keyframes menu-action {
    from {
        transform: scale(0.7);
    } to {
        transform: scale(1);
    }
}