:root {
    --primary-color: #363795;
}

.header__navbar-img {
    width: 41px;
    height: 41px;
}

.header__navbar-name h6:first-child {
    font-size: 16px;
}

.header__navbar-name h6:last-child {
    font-size: 12px;
}