:root {
    --primary-color: #363795;
}

.header__navbar {
    background-color: var(--primary-color);
}

.header__navbar-img {
    width: 32px;
    height: 32px;
}

.header__navbar-name h6:first-child {
    font-size: 14px;
}

.header__navbar-name h6:last-child {
    font-size: 10px;
}

.header__navbar-avatar {
    width: 30px;
    height: 30px;
}