:root {
    --primary-color: #2a5298;
    --primary-gradient-color: linear-gradient(to left, #1e3c72, #2a5298);
    --bs-body-color: #212529;
}

body {
    overflow: auto;
}

/* .col-0 {
    display: none;
}

.app {
    background-image: var(--primary-gradient-color);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
} */

/* ======Navbar====== */
/* .header__navbar-img {
    width: 40px;
    height: 40px;
}

.header__navbar-name h6:first-child {
    font-size: 16px;
}

.header__navbar-name h6:last-child {
    font-size: 14px;
}

.header__navbar-avatar {
    width: 36px;
    height: 36px;
}

.header__navbar-item a {
    cursor: pointer;
}

.header__navbar-item span {
    top: 25%;
    right: -15px;
}

.list-apps {
    --height: calc(100vh - 56px - 16px);
    width: 252px;
    right: -58px;
    top: 52px;
    font-size: 14px;
    max-height: var(--height);
    overflow-y: auto;
}

.list-apps.hide {
    display: none;

}

.list-apps a:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.list-apps a:active {
    background-color: rgba(0, 0, 0, 0.1) !important;
} */

/* ======Container====== */
/* .app__container {
    padding: 12px 4px 12px 12px;
} */

/* ======Sidebar====== */
/* .sidebar {
    --height: calc(100vh - 56px - 24px);
    height: var(--height);
    width: 72px;
    padding-right: 8px !important;
    transition: all .2s ease-out;
}

.sidebar.open {
    width: 280px;
}

.sidebar a {
    padding: 8px 12px;
    text-decoration: none;
    overflow: hidden;
}

.sidebar span {
    overflow: hidden;
}

.sidebar__menu-btn {
    font-size: 28px;
    line-height: 0;
}

.sidebar__content-list {
    overflow-y: scroll;
    flex: 1 1 auto;
}

.sidebar__content-list:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

.sidebar__content-item>a:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.sidebar__content-item>a:active {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.sidebar__content-item>a.active {
    background-image: var(--primary-gradient-color);
    color: white !important;
}

.sidebar:not(.open) .sidebar__dropdown-item {
    display: none;
}

.sidebar__content-item>a[data-bs-toggle="collapse"].collapsed>i:last-child {
    position: absolute;
    right: 12px;
    top: 0.5rem;
    transform: rotate(0deg);
    transition: all .2s ease-out;
}

.sidebar__content-item>a[data-bs-toggle="collapse"]>i:last-child {
    position: absolute;
    right: 12px;
    top: 0.5rem;
    transform: rotate(180deg);
    transition: all .2s ease-out;
}

.sidebar:not(.open) .sidebar__content-item>a[data-bs-toggle="collapse"]>i:last-child {
    display: none;
}

.sidebar__dropdown-item>a:not(.active):hover,
.sidebar__footer>button:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.sidebar__dropdown-item>a:not(.active):active,
.sidebar__dropdown-item>a.active,
.sidebar__footer>button:active {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.sidebar__footer>button {
    overflow: hidden;
    padding-left: 12px !important;
    padding-right: 12px !important;
} */

/* ======Content====== */
/* .content {
    --height: calc(100vh - 56px - 24px);
    margin-left: 12px;
    overflow-y: scroll;
    max-height: var(--height);
}

.content:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

.content__chartBox {
    max-height: 380px;
}

.doughnutChart {
    min-height: 290px;
}

.doughnutChart span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
} */


.header {
    background-image: url('https://free.vector6.com/wp-content/uploads/2021/03/AX31-vector-corel-trong-dong.jpg');
    background-position: center;
    background-size: 120vw;
    background-repeat: no-repeat;
}

.header__navbar {
    background-color: rgba(30, 59, 114, 0.9);
}

.header__navbar-name h6:first-child {
    font-size: 16px;
}

.header__navbar-name h6:last-child {
    font-size: 14px;
}

.header__navbar-avatar {
    width: 36px;
    height: 36px;
}

.list-apps {
    --height: calc(100vh - 56px - 16px);
    width: 252px;
    right: 0;
    top: 10px;
    font-size: 14px;
    max-height: var(--height);
    overflow-y: auto;
}

.list-apps.hide {
    display: none;
}

.list-apps a:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.list-apps a:active {
    background-color: rgba(0, 0, 0, 0.1) !important;
}