:root {
    --primary-color: #2a5298;
    --primary-gradient-color: linear-gradient(to left, #1e3c72, #2a5298);
}

body {
    overflow: auto;
}

.col-0 {
    display: none;
}

.app {
    background-image: var(--primary-gradient-color);
}

/* .header__navbar {
    background-color: var(--primary-color);
} */

.header__navbar-img {
    width: 40px;
    height: 40px;
}

.header__navbar-name h6:first-child {
    font-size: 16px;
}

.header__navbar-name h6:last-child {
    font-size: 14px;
}

.header__navbar-avatar {
    width: 36px;
    height: 36px;
}

.header__navbar-item:not(.header__navbar-item:last-child) button:hover{
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.header__navbar-item:not(.header__navbar-item:last-child) button:active {
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.header__navbar-item span {
    top: 25%;
    right: -15px;
}

.sidebar {
    --height: calc(100vh - 56px - 16px);
    min-height: var(--height);
    max-height: var(--height);
    width: 280px;
}

.side__bar-tile > button {
    width: 46px;
    height: 46px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
    color: var(--primary-color);
}

.side__bar-tile > button:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.sidebar__name > img {
    width: 36px;
}

.sidebar a {
    text-decoration: none;
}

.sidebar-item > a:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.sidebar-item > a:active {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.sidebar-item > a.active {
    background-image: var(--primary-gradient-color);
    color: white !important;
}

.sidebar-list-child {
    list-style: inside;
}